<a href="https://colab.research.google.com/github/202121420/bmt_python/blob/main/21420_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
type([])

list

In [8]:
pd.date_range('20210430' , periods=6)

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
dates = pd.date_range('20210430', periods=6)

In [10]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [15]:
np.random.randn(6,4)

array([[-0.03428267, -0.32441056, -0.50941459,  0.34305333],
       [-0.29690143,  2.56509965, -2.09778808, -1.20984789],
       [-0.61728891,  1.08116158,  0.45131756, -0.51682737],
       [ 0.78431845, -0.24838092, -0.02472115,  0.48070437],
       [-0.76926041, -0.8795778 , -0.48930929,  0.46408606],
       [ 0.51378378,  1.42889793, -1.76888736,  0.49205215]])

In [19]:
df2 = pd.DataFrame(
        {
        'A': 1.,
        'B': pd.Timestamp('20210430'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test", "train", "test", "train" ]),
        'F': 'foo'
        }
    )

In [20]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [21]:
type(df2)

pandas.core.frame.DataFrame

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [26]:
df.head(1)

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401

In [27]:
df.tail(2)

                   A         B         C         D
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [28]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [29]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [32]:
df.values

array([[ 1.80664324,  0.05073824,  1.18837508, -0.69940056],
       [-0.61453739,  0.60554042, -0.32161073,  0.30701672],
       [-0.15822069, -0.79808071,  0.16994584, -0.06435541],
       [ 2.16019629, -0.93103661, -0.31126264, -0.68151963],
       [ 1.16787901, -1.11986714, -0.16373866, -0.2377563 ],
       [-1.38431847, -1.00961142, -0.29339764, -0.76352222]])

In [33]:
df.T

   2021-04-30  2021-05-01  2021-05-02  2021-05-03  2021-05-04  2021-05-05
A    1.806643   -0.614537   -0.158221    2.160196    1.167879   -1.384318
B    0.050738    0.605540   -0.798081   -0.931037   -1.119867   -1.009611
C    1.188375   -0.321611    0.169946   -0.311263   -0.163739   -0.293398
D   -0.699401    0.307017   -0.064355   -0.681520   -0.237756   -0.763522

In [34]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [36]:
df.sort_index(axis=0, ascending= False)

                   A         B         C         D
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-04-30  1.806643  0.050738  1.188375 -0.699401

In [37]:
df.sort_index(axis=1, ascending= True)

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [38]:
df.sort_index(axis=1, ascending= False)

                   D         C         B         A
2021-04-30 -0.699401  1.188375  0.050738  1.806643
2021-05-01  0.307017 -0.321611  0.605540 -0.614537
2021-05-02 -0.064355  0.169946 -0.798081 -0.158221
2021-05-03 -0.681520 -0.311263 -0.931037  2.160196
2021-05-04 -0.237756 -0.163739 -1.119867  1.167879
2021-05-05 -0.763522 -0.293398 -1.009611 -1.384318

In [39]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [40]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017

In [41]:
dates

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [45]:
df['C']

2021-04-30    1.188375
2021-05-01   -0.321611
2021-05-02    0.169946
2021-05-03   -0.311263
2021-05-04   -0.163739
2021-05-05   -0.293398
Freq: D, Name: C, dtype: float64

In [48]:
df[ ['A','C','D'] ]

                   A         C         D
2021-04-30  1.806643  1.188375 -0.699401
2021-05-01 -0.614537 -0.321611  0.307017
2021-05-02 -0.158221  0.169946 -0.064355
2021-05-03  2.160196 -0.311263 -0.681520
2021-05-04  1.167879 -0.163739 -0.237756
2021-05-05 -1.384318 -0.293398 -0.763522

In [49]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [51]:
df[0:3]

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355

In [52]:
df['20210430' : '20210501']

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017

In [53]:
df['20210430' : '20210430']

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401

In [54]:
df.loc[dates[0]]

A    1.806643
B    0.050738
C    1.188375
D   -0.699401
Name: 2021-04-30 00:00:00, dtype: float64

In [57]:
df.loc['20210430']

A    1.806643
B    0.050738
C    1.188375
D   -0.699401
Name: 2021-04-30 00:00:00, dtype: float64

In [59]:
df['A']

2021-04-30    1.806643
2021-05-01   -0.614537
2021-05-02   -0.158221
2021-05-03    2.160196
2021-05-04    1.167879
2021-05-05   -1.384318
Freq: D, Name: A, dtype: float64

In [60]:
df.loc['20210430':'20210503','A']

2021-04-30    1.806643
2021-05-01   -0.614537
2021-05-02   -0.158221
2021-05-03    2.160196
Freq: D, Name: A, dtype: float64

In [68]:
df.loc['20210430':'20210503',['A','C','D']]

                   A         C         D
2021-04-30  1.806643  1.188375 -0.699401
2021-05-01 -0.614537 -0.321611  0.307017
2021-05-02 -0.158221  0.169946 -0.064355
2021-05-03  2.160196 -0.311263 -0.681520

In [72]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [71]:
df.iloc[0:3,1:3]

                   B         C
2021-04-30  0.050738  1.188375
2021-05-01  0.605540 -0.321611
2021-05-02 -0.798081  0.169946

In [73]:
df

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-01 -0.614537  0.605540 -0.321611  0.307017
2021-05-02 -0.158221 -0.798081  0.169946 -0.064355
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756
2021-05-05 -1.384318 -1.009611 -0.293398 -0.763522

In [75]:
df.A

2021-04-30     True
2021-05-01    False
2021-05-02    False
2021-05-03     True
2021-05-04     True
2021-05-05    False
Freq: D, Name: A, dtype: bool

In [77]:
df.A > 0

2021-04-30     True
2021-05-01    False
2021-05-02    False
2021-05-03     True
2021-05-04     True
2021-05-05    False
Freq: D, Name: A, dtype: bool

In [78]:
df[df.A>0]

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375 -0.699401
2021-05-03  2.160196 -0.931037 -0.311263 -0.681520
2021-05-04  1.167879 -1.119867 -0.163739 -0.237756

In [79]:
df>0

                A      B      C      D
2021-04-30   True   True   True  False
2021-05-01  False   True  False   True
2021-05-02  False  False   True  False
2021-05-03   True  False  False  False
2021-05-04   True  False  False  False
2021-05-05  False  False  False  False

In [82]:
df[ df>0]

                   A         B         C         D
2021-04-30  1.806643  0.050738  1.188375       NaN
2021-05-01       NaN  0.605540       NaN  0.307017
2021-05-02       NaN       NaN  0.169946       NaN
2021-05-03  2.160196       NaN       NaN       NaN
2021-05-04  1.167879       NaN       NaN       NaN
2021-05-05       NaN       NaN       NaN       NaN